html {
    background: url(./backgroundimage.jpg) no-repeat center center / cover;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

nav {
    background: none;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

button {
    cursor: pointer;
    color: white;
    background: none;
    border: none;
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
    font-size: 14px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#content {
    padding:1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logofull {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.biglogo {
    width: 20rem;
}

.bigtext {
    width:24rem;
    height:auto;
}

.smalllogo {
    width:8rem;
}

.smalltext {
    width:10rem;
}

.menuitems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:0.5rem;
}

.menuitem {
    display: flex;
    align-items: center;
    gap:1rem;
}

.platename {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.25rem
}

.separator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width:0.4rem;
    height:0.4rem;
    border: 2px solid green;
    border-radius: 50%;
}
.line {
    border: 1px solid green;
    width:15vw;
}

.menuitems * > img {
    width: 8rem;
}

.plateinfo > p {
    margin:0;
    width:25vw;
}